<!DOCTYPE HTML>
<html xml:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Order</title>
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}" />
  <link href="/Users/Juste/Virtualizavimas/Virtualizacija/servers-shop/src/main/resources/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div class="container">
  <div class="row mt-5">
    <div class="col-2">
      <p><a class="btn btn-outline-success" href="/">
        <i class="bi bi-plus-square-fill" > Back</i></a>
      </p>
    </div>
    <div class="col-6">
      <h2>Create new order</h2>
      <form action="#" th:action="@{/order}" th:object="${orderItem}" method="POST" >
        <div class="form-group">
          <label for="os">OS</label>
<!--          <input class="form-control"-->
<!--                 type="text"-->
<!--                 th:field="*{os}"-->
<!--                 id="os"-->
<!--                 placeholder="debian"-->
<!--          >-->
          <select class="form-control"
                  type="text"
                  th:field="*{os}"
                  id="os"
                  placeholder="debian"
          >
            <option value="debian">Debian</option>
            <option value="ubuntu">Ubuntu</option>
            <option value="fedora">Fedora</option>
            <option value="centOs">CentOs</option>
          </select>

          <label for="cpu">CPU</label>
          <input class="form-control"
                 type="text"
                 th:field="*{cpu}"
                 id="cpu"
                 placeholder="0.1"
          >
          <label for="ram">RAM in mb</label>
          <input class="form-control"
                 type="text"
                 th:field="*{ram}"
                 id="ram"
                 placeholder="512"
          >
          <label for="days">Days</label>
          <input class="form-control"
                 type="text"
                 th:field="*{days}"
                 id="days"
                 placeholder="30"
          >
          <button type="submit" class="btn btn-outline-success">
            <i class="bi bi-plus-square-fill"></i>Add
          </button>

        </div>
      </form>
    </div>
  </div>
</div>
<script th:src="@{/webjars/bootstrap/5.2.2/js/bootstrap.min.js}"></script>
</body>
</html>